body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/**/
.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    margin: 10px auto;
    padding: 30px;
    min-height: 100vh;
    width: 80%;
    border: 1px black solid;
    border-radius: 10px;

}

footer {
    margin-top: 0;
    background-color: #333;
    color: #ccc;
    height: 50px;
    font-size: 0.8em;
    bottom: 0;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}